anyio==3.6.1 ; python_version >= "3.9" and python_version < "4"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "4"
certifi==2023.7.22 ; python_version >= "3.9" and python_version < "4"
h11==0.12.0 ; python_version >= "3.9" and python_version < "4"
httpcore==0.15.0 ; python_version >= "3.9" and python_version < "4"
httpx==0.23.3 ; python_version >= "3.9" and python_version < "4"
idna==3.3 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.9" and python_version < "4"
six==1.16.0 ; python_version >= "3.9" and python_version < "4"
sniffio==1.2.0 ; python_version >= "3.9" and python_version < "4"
